// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

$primary: black;
$body-bg: white;

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:

 .nav-link:hover {
 text-decoration: underline;
}

 .containerone {
  background-image: url("../img/pirate-ship.jpg");
  background-repeat:no-repeat; 
  background-position:center; 
  background-size:cover;
  font-family: "Ewert", serif;
  font-size: large;
  }

 .display-4 {
    color: $body-bg;
    padding-top: 7rem;
  }

 .lead {
   color: $body-bg;
   padding-bottom: 7rem;
  }

 footer {
 background-color: rgb(78, 194, 84);
 text-align: center;
 margin: 10px;
 padding: 5px 10px;
 }

 .card-title {
  font-weight: bold;
 }

 p.byline {
  font-style: italic;
  }

 h5.byline {
    font-weight: bold;
  }

 .carousel-item {
  background: no-repeat scroll center scroll;
  background-size: cover;
 }

 .carousel-caption {
  color: $body-bg;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
 }



